<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test">
  <parameter name ="node" value ="http://192.168.1.81"444/wd/hub"/>
  <parameter name="browser" value="Mozilla Firefox"/>
    <classes>
      <class name="com.AutoFramewrok.testng.InvalidLogin"/>
    </classes>
  </test> 
  <test name="Test">
  <parameter name ="node" value ="http://192.168.1.82"444/wd/hub"/>
  <parameter name ="browser" value="chrome"/>
    <classes>
      <class name="com.AutoFramewrok.testng.InvalidLogin"/>
    </classes>
  </test> 
</suite> 
